.carrusel-cochez-categorias-block {
  display: flex;
  overflow-x: auto;
}	
.carrusel-cochez-categorias-item{
    flex: 0 0 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.carrusel-cochez-categorias-item-image{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.carrusel-cochez-categorias-item-image img{
    width: 131px;
    height: 131px;
    margin: 0 auto;
}
.carrusel-cochez-categorias-item-title{
    text-align: center;
}