.carrusel-cochez-categorias-block {
  display: flex;
  overflow-x: auto;
}	
.carrusel-cochez-categorias-item{
    flex: 0 0 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.carrusel-cochez-categorias-item-image{
    width: 100%;
    height: 112px;
}