/* style.css */

.banner-cochez-wrapper
{
   margin-top: 20px !important;
}

.banner-cochez {
    background-color: #313130; /* Fondo amarillo */
    color: white;
    text-align: center;
    padding: 10px 0px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    position: relative;
    z-index: 1; /* Asegura que esté debajo del header */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .banner-cochez-content {
    margin: 0;
  }

  .banner-image {
    height: 60px;
    max-width: 100%;
    margin-right: 20px;
  }